{% extends "account/base.html" %}
{% load bootstrap %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}Вход{% endblock %}

{% block content %}

<h1>Войти:</h1>

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<p>{% with site.name as site_name %}Войдите, используя эккаунт в социальной сети.
Или <a href="{{ signup_url }}">зарегистрируйтесь</a>
на {{ site_name }} :{% endwith %}</p>

<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>

  <div class="login-or"></div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p>{% blocktrans %}If you have not created an account yet, then please
<a href="{{ signup_url }}">Создать учетную запись</a> first.{% endblocktrans %}</p>
{% endif %}

<form role="form" class="login" method="POST" action="{% url 'account_login' %}">
  <legend>Введите имя пользователя и пароль:</legend>
  {% csrf_token %}
  {{ form|bootstrap }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <div class="form-group">
  <a class="btn btn-primary" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
  <button class="btn btn-primary" type="submit">{% trans "Sign In" %}</button>
    </div>
</form>

{% endblock %}
