/* убрать лишнее */
#top {
    position: fixed;
    font-family:"Arimo", sans-serif;
    font-size:18px;
    width:100%;
    background-color:#fff;
    margin-left:auto;
}

#content {
    float:left;
    margin-top: 100px;
    margin-left: 20%;
    width:55%;
    padding:0 0 0 30px; 
}

#sidebar {
    float:right;
    width:20%;
    margin-top:100px;
    margin-right:20px;
    padding:10px;
    height:100%;
}

#social{
    margin-left:0px;
}

a {
    color:#597da3;
}

p.date { 
    color:#ccc;
    font-family: georgia, serif;
    font-size: 12px;
    font-style: italic; 
}

/* pagination */
.pagination { 
    margin:40px 0; 
    font-weight:bold;
}

/* forms */
label { 
    float:left;
    clear:both;
    color:#333;
    margin-bottom:4px; 
}


/* comments */
